@charset "UTF-8";
/*  mapa formado por los colores de fondo  */
/*  mapa formado por los colores de fondo en la vista de comunidad  */
/*    mixin para imágen recortada   */
/* mixin para sub titulos internos */
/*  mapa formado por los colores de fondo  */
/*  mapa formado por los colores de fondo en la vista de comunidad  */
/*    mixin para imágen recortada   */
/* mixin para sub titulos internos */
/* mixin que genera todos los media queries - breakpoints bootstrap */
/*body{
    /*background-color: map-get($colores-fondo , fondo-principal);
}*/
.contenedor__principal {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }

/*  contenedor del heder y el hero  */
.encabezado {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../assets/fondo_hero.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: 1000; }

/*   contenedor nosotros vista index   */
.main__nosotros {
  background-color: white; }
  @media (max-width: 576px) {
    .main__nosotros {
      padding: 0rem 2rem; } }
  .main__nosotros--txt {
    padding: 6rem 0 2rem; }
    @media (max-width: 576px) {
      .main__nosotros--txt {
        padding: 4rem 0 1rem; } }
    @media (min-width: 577px) {
      .main__nosotros--txt {
        padding: 6rem 1rem 2rem; } }
    .main__nosotros--txt h2 {
      font-weight: bold;
      color: #c10001;
      padding-bottom: 2rem; }
  .main__nosotros--cols {
    column-count: 2;
    column-gap: 63px; }
    @media (max-width: 576px) {
      .main__nosotros--cols {
        column-count: 1; } }
    @media (min-width: 577px) {
      .main__nosotros--cols {
        column-gap: 30px; } }
    @media (min-width: 992px) {
      .main__nosotros--cols {
        column-gap: 63px; } }
  .main__nosotros p {
    text-align: justify; }

.encabezado__nosotros {
  background: url(../assets/nosotros.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh; }

/*    contenedor tarjetas vista index  */
.contiene__tarjetas {
  background-color: white;
  padding: 0 1rem; }

.tarjeta {
  margin-top: -90px;
  padding: 1rem;
  background-color: white; }
  .tarjeta:hover {
    border-radius: 3px;
    border: #c10001 solid 1px; }
  @media (min-width: 1440px) {
    .tarjeta {
      margin-top: -70px; } }
  @media (min-width: 1200px) {
    .tarjeta {
      margin-top: -70px; } }
  @media (max-width: 576px) {
    .tarjeta__1 {
      margin-top: -50px; } }
  @media (min-width: 992px) {
    .tarjeta__1 {
      margin-top: -70px; } }
  @media (max-width: 576px) {
    .tarjeta__2 {
      margin-top: 20px; } }
  @media (min-width: 577px) {
    .tarjeta__2 {
      margin-top: 30px; } }
  @media (min-width: 992px) {
    .tarjeta__2 {
      margin-top: -70px; } }
  @media (max-width: 576px) {
    .tarjeta__3 {
      margin-top: 20px; } }
  @media (min-width: 577px) {
    .tarjeta__3 {
      margin-top: 30px; } }
  @media (min-width: 992px) {
    .tarjeta__3 {
      margin-top: -70px; } }
  .tarjeta__titulo {
    background-color: white;
    padding: 1rem 0 .5rem;
    color: #c10001; }
  .tarjeta__texto {
    padding: 1rem 0 1rem; }
  .tarjeta__imagen {
    object-fit: cover;
    width: 100%;
    margin: auto;
    height: 277px; }

/*     contenedores vista Nosotros      */
.propuesta__nosotros {
  background: url(../assets/colegio.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  color: white;
  padding-top: 30vh; }
  .propuesta__nosotros p {
    font-weight: bold; }

/*  propuesta institucional  */
.articulo__propuesta {
  margin-top: 6rem;
  background-color: white;
  padding-top: 2rem;
  z-index: 1002; }
  .articulo__propuesta--titulo {
    font-weight: bold;
    color: #c10001; }
  .articulo__propuesta--lista {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .articulo__propuesta--lista li {
      padding: .5rem .5rem;
      margin: .2rem;
      background-color: #c10001;
      list-style: none;
      text-align: center; }

/*   staff   */
.contenedor__fondo {
  background-color: #f6f3ed; }

.articulo__staff {
  padding: 7rem 0 7rem; }
  .articulo__staff--titulo {
    font-weight: bold;
    color: #c10001; }
  .articulo__staff--bajada {
    margin-bottom: 2rem; }
  .articulo__staff--img {
    object-fit: cover;
    width: 100%;
    margin: auto;
    height: 500px; }

/* instalaciones */
.articulo__instalaciones {
  padding: 6rem 0 6rem; }
  .articulo__instalaciones--titulo {
    font-weight: bold;
    color: #c10001; }
  .articulo__instalaciones--galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .articulo__instalaciones--galeria img {
      padding: .2rem;
      max-width: 250px;
      height: auto; }
      .articulo__instalaciones--galeria img:hover {
        border: 1px solid #c10001; }

.instalaciones__detalle {
  display: flex;
  flex-direction: column; }
  .instalaciones__detalle img {
    width: 100%;
    height: auto; }

/*   contenedores vista Inicial   */
.main__jardin--img {
  width: 100%;
  height: auto; }
  .main__jardin--img:hover {
    transform: scale(1.1) translate(-4%, -1%);
    transition: transform 600ms ease-in; }

.article__organizacion {
  background-color: #f4eef0;
  width: 100%; }
  .article__organizacion--img img {
    width: 100%; }

/*  contenedor vista primario  */
.article__idioma {
  width: 100%; }

/*   contenedor vista secundario  */
.presenta__secundario {
  width: 100%; }

.articulo__secundario--idioma {
  background-color: #f6f3ed;
  width: 100%; }

/*   contenedor vista comunidad  */
.comunidad__nota--0 {
  background-color: #f5dbc9; }

.comunidad__nota--1 {
  background-color: #f5ece5; }

/* mixin que genera todos los media queries - breakpoints bootstrap */
.header {
  padding: 0; }
  .header__titulo {
    color: #c10001; }
    @media (max-width: 576px) {
      .header__titulo {
        font-size: 1rem; } }

.header__logo {
  /*   mixin con un mediaquery  */
  /*   mixin con un mediaquery  */
  /*   mixin con un mediaquery  */
  /*width: 6rem;*/
  margin: 2rem 0;
  filter: drop-shadow(0 5px 8px rgba(97, 94, 94, 0.7)); }
  @media (max-width: 576px) {
    .header__logo {
      width: 3rem;
      margin: 1rem 1rem; } }
  @media (min-width: 577px) {
    .header__logo {
      width: 3rem;
      margin: 1rem 1rem; } }
  @media (min-width: 768px) {
    .header__logo {
      width: 4rem;
      margin: 1rem 1rem; } }

/* estilos botones - inscripcion*/
.btn, .btn__insc, .main__formulario--boton {
  background-color: #c50002;
  border-color: #c50002; }

.btn__insc {
  position: fixed;
  z-index: 10;
  right: 30px;
  bottom: 30px; }

/* estilos del modal, todas las vistas */
.modal-title {
  color: #c50002; }

.main__formulario--campo input {
  width: 100%; }

.main__formulario--interes {
  width: 100%; }

.main__formulario--e-mail {
  width: 100%; }

.main__formulario--mail_txt {
  width: 100%; }

.main__formulario--boton {
  color: white;
  border-radius: 3px; }

/*    separador con citas     */
.cita {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60vh;
  background-color: #c10001;
  display: flex;
  align-items: center; }
  @media (max-width: 576px) {
    .cita {
      height: 60vh; } }
  @media (min-width: 1200px) {
    .cita {
      height: 60vh; } }
  @media (min-width: 992px) {
    .cita {
      height: 60vh; } }
  @media (min-width: 1440px) {
    .cita {
      height: 45vh; } }
  .cita__contenedor {
    margin-top: -150px;
    max-width: 60vw; }
    @media (max-width: 576px) {
      .cita__contenedor {
        margin-top: -60px; } }
    @media (min-width: 992px) {
      .cita__contenedor {
        margin-top: -120px;
        max-width: 60vw; } }
    @media (min-width: 1440px) {
      .cita__contenedor {
        margin-top: -100px;
        max-width: 50vw; } }
  .cita__texto {
    font-size: 8rem;
    color: white; }
  .cita__autor {
    margin-top: -40px;
    display: block;
    text-align: right;
    color: white; }
    @media (max-width: 576px) {
      .cita__autor {
        margin-top: -20px; } }
    @media (min-width: 992px) {
      .cita__autor {
        margin-top: -15px; } }
    @media (min-width: 1440px) {
      .cita__autor {
        margin-top: -20px; } }
  .cita__quote {
    transform: rotateX(180deg);
    transform: rotate(180deg);
    transform-origin: 50% 50%; }

/* mixin que genera todos los media queries - breakpoints bootstrap */
.hero {
  position: relative;
  padding-top: 30vh;
  padding-left: 10vw;
  z-index: 2; }
  @media (max-width: 576px) {
    .hero {
      padding-top: 30vh;
      padding-left: .5vw; } }
  @media (min-width: 577px) {
    .hero {
      padding-top: 35vh;
      padding-left: .5vw; } }
  .hero__mensaje {
    align-items: center;
    justify-items: center; }
  .hero__txt {
    padding: 0rem 6rem; }
    @media (max-width: 576px) {
      .hero__txt {
        padding: 0rem 3rem; } }
    @media (min-width: 577px) {
      .hero__txt {
        padding: 0rem 3rem; } }
    .hero__txt h1 {
      font-weight: normal;
      color: white; }
  .hero__bajada {
    color: #f16c1a; }

.footer {
  background-color: #f8f9fa;
  margin-top: 5rem;
  padding-top: 5rem; }
  .footer__contiene {
    --bs-gutter-x:0;
    align-items: center;
    justify-items: center; }
  .footer__logo {
    display: flex;
    justify-content: center;
    filter: drop-shadow(0 5px 8px rgba(97, 94, 94, 0.7)); }
  .footer__logo img {
    width: 5rem; }
  .footer__flex--redes {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media (max-width: 576px) {
      .footer__flex--redes {
        margin-top: 2rem; } }
    @media (min-width: 577px) {
      .footer__flex--redes {
        margin-top: 4rem; } }
  .footer__bi {
    width: 40px;
    height: 40px; }
  .footer__dir--instituto {
    font-size: 1.5rem;
    padding: 4rem 0;
    text-align: center;
    color: #c10001; }
    @media (max-width: 576px) {
      .footer__dir--instituto {
        padding: 2rem 0; } }
    @media (min-width: 577px) {
      .footer__dir--instituto {
        padding: 2rem 0 0; } }
  .footer__dir--ubicacion {
    font-size: 1rem;
    color: #c10001;
    text-align: center; }
    @media (max-width: 576px) {
      .footer__dir--ubicacion {
        font-size: .8rem; } }
  .footer__dir--tel {
    font-size: 1rem;
    color: #c10001;
    text-align: center; }
    @media (max-width: 576px) {
      .footer__dir--tel {
        font-size: .8rem; } }
  .footer__menu {
    margin-left: 4rem;
    font-size: 1.2rem; }
    @media (max-width: 576px) {
      .footer__menu {
        display: none; } }
    @media (min-width: 577px) {
      .footer__menu {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        margin: 2rem 0;
        padding: 0; } }
    @media (min-width: 992px) {
      .footer__menu {
        justify-content: space-around; } }
    @media (min-width: 1200px) {
      .footer__menu {
        flex-direction: column;
        margin-left: 4rem; } }
    .footer__menu li {
      list-style: none; }
      @media (min-width: 577px) {
        .footer__menu li {
          display: inline-block; } }
      .footer__menu li a {
        text-decoration: none;
        color: #c10001; }
        .footer__menu li a:hover {
          font-weight: bold; }
  .footer__ubicacion {
    margin-top: 4rem;
    padding: 0;
    height: 100%;
    overflow: hidden; }
  .footer__copy {
    width: 100%;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0;
    text-align: center; }
    @media (max-width: 576px) {
      .footer__copy {
        font-size: .6rem; } }
    .footer__copy svg {
      color: #c10001; }
    .footer__copy a {
      text-decoration: none;
      color: #c10001; }

/*@import"../parciales/mediaQ";*/
/* mixin que genera todos los media queries - breakpoints bootstrap */
