
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ----------------  ESTILOS HEADER --------------------------- */
.header{
    display: grid;
    width: 100vw;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    margin: 0 10rem;
}

.header__logo{
    
    width: 100%;

    
}
.header__logo img{
    
}

.header__menu{
    display: flex;
    justify-content: right;
    align-items: center;
}

.header__menu--item{
    display: inline-block;
    list-style: none;
    padding: 2rem 3rem;
    background-color: blanchedalmond;
}

.header__menu--item a{
    text-decoration: none;
}

/* ------------------ / ESTILOS HEADER ------------------------ */

/* ------------------ / ESTILOS MAIN ------------------------ */

.main__hero{
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "hero hero hero"
                         "nosotros nosotros nosotros"
                         "tarjeta1 tarjeta2 tarjeta3";

}

.main__nosotros--img{
    overflow: hidden;
    height: 600px;
}
.main__nosotros--img img{
    width: 100%;
}

.main__article{
    grid-area: hero;
}

.main__nosotros{
    grid-area: nosotros;
    width: 100%;
}

.main__contenedor{
    grid-area: tarjeta;
}

.main__tarjeta1{
    grid-area: tarjeta1;
}
.main__tarjeta2{
    grid-area: tarjeta2;
}
.main__tarjeta3{
    grid-area: tarjeta3;
}

.main__tarjetas{
    padding: 1rem;
    width: 100%;
}

.main__tarjetas img{
    width: 100%;
}

.main__tarjetas h3{
    font-size: 2rem;
}

/* ------------------ / ESTILOS MAIN ------------------------ */
