@import"../parciales/variables";

body{
    background-color: map-get($colores-fondo , fondo-principal);
}

.contenedor__principal{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

}

 /*   contenedor nosotros vista index   */
.main__nosotros{
    margin-top: 3rem;
    & img{
        @include imagen__recortada;
        height: 400px;
        
    }
    &--txt{
        padding: 6rem 0 .2rem;
    }
    &--cols{
        column-count: 2;
        column-gap: 60px;
    }
        & p{
            text-align: justify;
        }
}

  /*    contenedor tarjetas vista index  */
.contiene__tarjetas{
    padding: 8rem 6rem;
    margin-bottom: 4rem;
}

.card{
    width: 100%;
    overflow: hidden;
    border: 0px;

    & img{
        @include imagen__recortada;
        height: 45vh;

        &:hover{
            transform: scale(1.1) translate(-4%, -1%);
            transition: transform 600ms ease-in;
        }
    }
}

/*     contenedores vista Nosotros      */

.articulo__propuesta{ /*  propuesta institucional  */
    width: 100%;
    &--img img{
        height: 700px;
        @include imagen__recortada;
        /*width: 100%;
        object-fit: cover;
        margin: auto;*/
        opacity: .8;
    }

    &--lista{
        padding-bottom: 2rem;
        display: flex;
        align-items: center;

        & li{
            padding: 0 .2rem;
            border-left: orangered 2px solid;
            list-style: none;
            text-align: center;
        }
    }
}

.articulo__staff{ /*  staff   */
    background-color: map-get($colores-fondo , fondo3); /*$color-fondo3;*/
    width: 100%;
}

.articulo__instalaciones{ /* instalaciones */
    width: 100%;
}

.instalaciones__detalle{
    display: flex;
    flex-direction: column;

    & img{
        width: 100%;
        height: auto;
    }
}

/*   contenedores vista Inicial   */
.main__jardin--img{
    width: 100%;
    height: auto;

    &:hover{
        transform: scale(1.1) translate(-4%, -1%);
        transition: transform 600ms ease-in;
    }
}

.article__organizacion{
    background-color: map-get($colores-fondo , fondo2);
    width: 100%;

    &--img img{
        width: 100%;
    }
}

/*  contenedor vista primario  */
.article__idioma{
    width: 100%;
}

/*   contenedor vista secundario  */
.presenta__secundario{
    width: 100%;
}

.articulo__secundario--idioma{
    background-color:map-get($colores-fondo , fondo3);
    width: 100%;
}

/*   contenedor vista comunidad  */
.comunidad__nota--0{
    background-color: map-get($colores-comunidad, comunidad0);
}

.comunidad__nota--1{
    background-color: map-get($colores-comunidad,comunidad1);
}