@import"../parciales/variables";
@import"../parciales/mQ-sass";

/*body{
    /*background-color: map-get($colores-fondo , fondo-principal);
}*/

.contenedor__principal{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/*  contenedor del heder y el hero  */
.encabezado{
    background: linear-gradient( 
              rgba(0, 0, 0, 0.1),
              rgba(0, 0, 0, 0.6)
          ),
          url(../assets/fondo_hero.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: 1000;
  }

 /*   contenedor nosotros vista index   */
.main__nosotros{
    background-color: white;
    @include pantalla(telefono){
        padding: 0rem 2rem;
    }
    
    &--txt{
        padding: 6rem 0 2rem;

        @include pantalla(telefono){
            padding: 4rem 0 1rem;
        }
        @include pantalla(tablet){
            padding: 6rem 1rem 2rem;
        }

        & h2{
            @include titulos__internos;
            padding-bottom: 2rem;
        }
    }
    &--cols{
        column-count: 2;
        column-gap: 63px;

        @include pantalla(telefono){
            column-count: 1;
        }

        @include pantalla(tablet){
            column-gap:30px;
        }
        @include pantalla(pc-media){
            column-gap: 63px;
        }
    }
        & p{
            text-align: justify;
        }
}

.encabezado__nosotros{
    background: url(../assets/nosotros.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;

}
  /*    contenedor tarjetas vista index  */
.contiene__tarjetas{
    background-color: white;
    padding: 0 1rem;
}

.tarjeta{
    margin-top: -90px;
    padding: 1rem;
    background-color: white;

    
    &:hover{
        border-radius: 3px;
        border: $color-principal solid 1px;
    }
    
    @include pantalla(pc-xxl){
        margin-top: -70px;
    }
    
    @include pantalla(pc-xl){
        margin-top: -70px;
    }

    &__1{
        @include pantalla(telefono){
            margin-top: -50px;
        }

        @include pantalla(pc-media){
            margin-top: -70px;
        }
    }

    &__2{
        @include pantalla(telefono){
            margin-top: 20px;
        }

        @include pantalla(tablet){
            margin-top: 30px;
        }

        @include pantalla(pc-media){
            margin-top: -70px;
        }
    }

    &__3{
        @include pantalla(telefono){
            margin-top: 20px;
        }

        @include pantalla(tablet){
            margin-top: 30px;
        }
        
        @include pantalla(pc-media){
            margin-top: -70px;
        }
    }
    
    &__titulo{
        background-color: white;
        padding: 1rem 0 .5rem;
        color: $color-principal;
    }
    &__texto{
        padding: 1rem 0 1rem;
        
    }
    &__imagen{
        @include imagen__recortada;
        height: 277px;
    }
}


/*     contenedores vista Nosotros      */

/*  propuesta institucional  */
.articulo__propuesta{ 
    width: 100%;
    &--img img{
        height: 700px;
        @include imagen__recortada;
        
        opacity: .8;
    }

    &--lista{
        padding-bottom: 2rem;
        display: flex;
        align-items: center;

        & li{
            padding: 0 .2rem;
            border-left: orangered 2px solid;
            list-style: none;
            text-align: center;
        }
    }
}

/*   staff   */
.articulo__staff{
    background-color: map-get($colores-fondo , fondo3); /*$color-fondo3;*/
    width: 100%;
}

.articulo__instalaciones{ /* instalaciones */
    width: 100%;
}

.instalaciones__detalle{
    display: flex;
    flex-direction: column;

    & img{
        width: 100%;
        height: auto;
    }
}

/*   contenedores vista Inicial   */
.main__jardin--img{
    width: 100%;
    height: auto;

    &:hover{
        transform: scale(1.1) translate(-4%, -1%);
        transition: transform 600ms ease-in;
    }
}

.article__organizacion{
    background-color: map-get($colores-fondo , fondo2);
    width: 100%;

    &--img img{
        width: 100%;
    }
}

/*  contenedor vista primario  */
.article__idioma{
    width: 100%;
}

/*   contenedor vista secundario  */
.presenta__secundario{
    width: 100%;
}

.articulo__secundario--idioma{
    background-color:map-get($colores-fondo , fondo3);
    width: 100%;
}

/*   contenedor vista comunidad  */
.comunidad__nota--0{
    background-color: map-get($colores-comunidad, comunidad0);
}

.comunidad__nota--1{
    background-color: map-get($colores-comunidad,comunidad1);
}