.footer{
    background-color: map-get($colores-fondo , fondo-principal);

    &__contiene{    
        --bs-gutter-x:0;
        align-items: center;
        justify-items: center;
        
    }
    
    &__logo{
        display: flex;
        justify-content: center;
        filter: drop-shadow(0 5px 8px rgba(97, 94, 94, 0.7));
    }
    
    &__logo img{
        width: 8rem;   
    }

    &__flex--redes{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__bi{
        width: 40px;
        height: 40px;
    }


    &__dir{
        font-size: 1.5rem;
        padding: 4rem 0;
        text-align: center;
        color:$color-principal;
    }

    &__menu{
        margin-left: 4rem;
        font-size: 1.2rem;
        & li{
            list-style: none;
            & a{
                text-decoration: none;
                color:$color-principal;

                &:hover{
                    font-weight: bold;
                }
            }
        }
    }

    &__ubicacion{
        margin-top: 4rem;
        padding: 0;
        height: 100%;
        overflow: hidden;
    }    
    &__copy{
        width: 100%;
        font-size: 1rem;
        margin-top: 1rem;
        padding: 0;
        text-align: center;
    }
}
