.hero{
    position: relative;
    padding-top: 3rem;
    z-index: 2;

    &__mensaje{
        align-items: center;
        justify-items: center;
    }
    
    &__txt{
        
        padding: 0rem 6rem;

        & h1{
            font-weight: normal;
            /*color: #c10001;*/
        }
    }
    
    &__bajada{   
        color:#f16c1a;
    }
    
    &__img img{
        @include imagen__recortada;
        z-index: 1;
        height: 60vh;
        opacity: .8;
    }
}