@import"../parciales/mQ-sass";

.hero{
    position: relative;
    padding-top: 30vh;
    padding-left: 10vw;
    z-index: 2;

    @include pantalla(telefono){
        padding-top: 30vh;
        padding-left: .5vw;
    }
    @include pantalla(tablet){
        padding-top: 35vh;
        padding-left: .5vw;
    }

    &__mensaje{
        align-items: center;
        justify-items: center;
    }
    
    &__txt{
        padding: 0rem 6rem;

        @include pantalla(telefono){
            padding: 0rem 3rem;
        }

        @include pantalla(tablet){
            padding: 0rem 3rem;
        }

        & h1{
            font-weight: normal;
            color: white;
        }
    }
    
    &__bajada{   
        color:#f16c1a;
    }
    
}