@media screen and (max-width: 576px){

    .header__logo{
        width: 5rem;
        margin: 1rem 1rem;
    }
    .hero__txt{
        padding: 2rem;
    }

    .main__hero--boton{
        padding: .5rem 2rem;
        margin-top: 1rem;
        text-decoration: none;
        font-size: 1rem;
    }

    .main__nosotros{
        padding: 0rem;

        &--txt{
            padding: 2rem;
        }

        &--img img{
            width: 100%;
            height: 300px;
        }
    }

    .contiene__tarjetas{ 
        padding: 2rem 1rem;
    }
    
    .card{
        width: 100%;
        margin-top: 2rem;
    }

    .footer__contiene{
        padding-top: 1rem;
    }

    .footer__dir{
        font-size: .9rem;
        padding: 2rem 0;   
    }

    .bi{
        width: 35px;
        height: 35px;
    }
    
    .footer__logo img{
        padding: 2rem 0;
        width: 5rem;   
    }
    .footer__copy{
        font-size: .5rem;
        padding: .5rem 0;
    }

    .articulo__propuesta--img img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin: auto;
        opacity: .8;
    }

    .articulo__propuesta--lista{
        flex-direction: column;
        padding: 0;
        align-items: flex-start;

        & li{
            text-align: left;
            margin-bottom: 1rem;
        }
    }

    .aviso{
        width: 100%;
        top: 6vh;
        font-size: 10rem;
        padding: 2rem;
        
    }

    @keyframes aviso{

        0%{
            left: -100%;
        }
    
        
        35%{
            left: 0;
        }
    
        60%{
            left: 0;
        }
    
        75%{
            opacity: .8;
        }
    
    
    }
}

@media screen and (min-width: 577px){
    .header__logo{
        width: 5rem;
        margin: 1rem 1rem;
    }
    .hero__txt{
        padding: 2rem;
    }

    .main__hero--boton{

        padding: .5rem 2rem;
        margin-top: 1rem;
        text-decoration: none;
        font-size: 1rem;
    }

    .main__nosotros{
        padding: 0rem;

        &--txt{
            padding: 2rem;
        }

        &--img img{
            width: 100%;
            height: 300px;
        }
    }

    .contiene__tarjetas{ 
        padding: 2rem 1rem;
    }
    
    .card{
        width: 100%;
        margin-top: 2rem;
    }

    .footer__contiene{
        padding-top: 1rem;
    }

    .footer__dir{
        font-size: .9rem;
        padding: 2rem 0;   
    }

    .bi{
        width: 35px;
        height: 35px;
    }
    
    .footer__logo img{
        padding: 2rem 0;
        width: 5rem;   
    }
    .footer__copy{
        font-size: .5rem;
        padding: .5rem 0;
    }

    .articulo__propuesta--img img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin: auto;
        opacity: .8;
    }
    
    .articulo__propuesta--lista{
        flex-direction: column;
        padding: 2rem 4rem;
        align-items: flex-start;

        & li{
            text-align: left;
            margin-bottom: 1rem;
        }
    }

    .aviso{
        width: 100%;
        top: 6vh;
        font-size: 10rem;
        padding: 2rem;
    }

    
    .flex__redes{
        max-width: 600px;
        justify-content:space-around;
        margin: auto;
    }

    .aviso{
        
        top:6vh;
        font-size: 10rem;
        padding: 2rem 4rem;
        border-radius: 6px;
    }
}

@media screen and (min-width:768px) {

    .header__logo{
        width: 5rem;
        margin: 1rem 1rem;
    }

    .hero__txt{
        padding: 2rem;
    }

    .main__nosotros--txt{
        padding: 4rem;
    }

    .contiene__tarjetas{ 
        padding: 2rem 2rem;
    }
    
    .card{
        width: 100%;
        margin-top: 2rem;
    }

    .footer__contiene{
        padding-top: 3rem;
    }

    .footer__dir{
        font-size: 1.5rem;
        padding: 2rem 0;   
    }
    .footer__logo img{
        padding: 4rem 0;
        width: 6rem;   
    }

    .flex__redes{
        max-width: 600px;
        justify-content:space-around;
        margin: auto;
    }

    .articulo__propuesta--lista{
        flex-direction: row;
        padding: 1rem 1rem;
        align-items:flex-start;
        justify-content:left;
        flex-wrap: wrap;

        & li{
            text-align: left;
            margin-bottom: 2rem 2rem;
        }
    }

    .aviso{
        width: calc(100vw/3);
        top:10vh;
        font-size: 10rem;
        padding: 2rem 1rem;
        border-radius: 6px;
    }

}

@media screen and (min-width:992px){

    .header__logo{
        width: 4rem;
        margin: 1rem .5rem;
    }

    .hero__txt{
        padding: 2rem;
    }

    .main__nosotros--txt{
        padding: 4rem;
    }

    .contiene__tarjetas{ 
        padding: 2rem 2rem;
    }
    
    .card{
        width: 100%;
        margin-top: 2rem;
    }

    .footer__contiene{
        padding-top: 3rem;
    }

    .footer__logo img{
        padding: 4rem 0;
        width: 6rem;   
    }

    .footer__dir{
        font-size: 1.5rem;
        padding: 2rem 0;   
    }

    .flex__redes{
        max-width: 600px;
        justify-content:space-around;
        margin: auto;
    }

    .aviso{
        width: calc(100vw/3);
        top:10vh;
        font-size: 12rem;
        padding: 2rem 4rem;
        border-radius: 6px;
    }
}

@media screen and (min-width: 1200px){

    .header__logo{
        width: 6rem;
        margin: 1rem .5rem;
    }

    .hero__txt{
        padding: 2rem;
    }

    .main__nosotros--txt{
        padding: 4rem;
    }

    .contiene__tarjetas{ 
        padding: 2rem 2rem;
    }
    
    .card{
        width: 100%;
        margin-top: 2rem;
    }

    .footer__contiene{
        padding-top: 3rem;
    }

    .footer__logo img{
        padding: 4rem 0;
        width: 6rem;   
    }

    .footer__dir{
        font-size: 1.5rem;
        padding: 2rem 0;   
    }

    .flex__redes{
        max-width: 600px;
        justify-content:space-around;
        margin: auto;
    }

    .aviso{
        width: calc(100vw/3);
        top:10vh;
        font-size: 12rem;
        padding: 2rem 8rem;
        border-radius: 6px;
    }
    
    @keyframes aviso{
    
        0%{
            left: -200%;
        }
    
        
        35%{
            left: calc(100vw/2.6);
        }
    
        60%{
            left: calc(100vw/2.6);
        }
    
        75%{
            opacity: .8;
        }
    }


@media screen and (min-width: 1440px){

    .header__logo{
        width: 6rem;
        margin: 1rem .5rem;
    }

    .hero__txt{
        padding: 2rem;
    }

    .main__nosotros--txt{
        padding: 4rem;
    }

    .contiene__tarjetas{ 
        padding: 2rem 2rem;
    }
    
    .card{
        width: 100%;
        margin-top: 2rem;
    }

    .footer__contiene{
        padding-top: 3rem;
    }

    .footer__logo img{
        padding: 4rem 0;
        width: 6rem;   
    }

    .footer__dir{
        font-size: 1.2rem;
        padding: 2rem 0;   
    }

    .aviso{
        width: calc(100vw/3);
        top:10vh;
        font-size: 12rem;
        padding: 2rem 8rem;
        border-radius: 6px;
    }
}

}