$color-principal: #c10001;

/*  mapa formado por los colores de fondo  */
$colores-fondo:( fondo1: #fbd5d6, fondo2:#f4eef0, fondo3:#f6f3ed, fondo-principal:#f8f9fa);

/*  mapa formado por los colores de fondo en la vista de comunidad  */
$colores-comunidad:(comunidad0: #f5dbc9, comunidad1: #f5ece5, comunidad2: #f5ece5);


/*    mixin para imágen recortada   */
@mixin imagen__recortada {
    object-fit: cover;
    width: 100%;
    margin: auto;
}