.articulo__propuesta{
    width: 100%;

    &--img img{
        
        width: 100%;
        height: 700px;
        object-fit: cover;
        margin: auto;
        opacity: .8;
    }
}


.articulo__staff{
    /*background-color: #f3e7f7;*/
    width: 100%;
}

.articulo__instalaciones{
    /*background-color: #ebf7e7;*/
    width: 100%;
}

.instalaciones__detalle{
    display: flex;
    flex-direction: column;
}

.instalaciones__detalle img{
    width: 100%;
    height: auto;
}
